<%= stylesheet_link_tag params[:controller] %>
<body>
	<%= render 'layouts/header'%>
	<div id="heading">
		<h1>Support <span>Find answers to popular questions or get a new one answered in our forums</span></h1>
	</div>
	<div id="whitespace">
		&nbsp;
	</div>
	<div id="heading_2">
		<h2>Have a question you need answered? Ask away!</h2>
	</div>
	<div id="content">
		<div id="col_1">
			<a name="FAQ"></a>
			<h3>Frequently Asked Questions</h3>
			<h4>Overview</h4>
			<div>
				<strong>What is AwayFind?</strong>
				<p>
					AwayFind is a web application that finds and delivers timely email messages. When a timely message arrives in your inbox, AwayFind will send an SMS, "push" notify you on your iPhone/Android, or even call, IM, or DM (Twitter).  You can also use AwayFind to route messages to your co-workers.
				</p>
			</div>
			<div>
				<strong>How do you determine what a timely message is?</strong>
				<p>
					AwayFind determines timeliness from the following:
				</p>
				<p>
					Rules - you can set senders, keywords, or other criteria for the messages you'd always like to be escalated.  You can even tell AwayFind to only alert you if a person writes within the next few hours/days/weeks.
				</p>
				<p>
					Context - AwayFind examines your email history and takes your calendar in context when determining what messages are timely.  Intelligence and improvements to this algorithm are continually underway.
				</p>
				<p>
					AwayFind Contact Form - With the optional AwayFind  Contact Form you can provide people a way to reach you when they have an urgent message. Many of our users link to their Contact Form in their email signature or out of office message.  Our users particularly enjoy that it allows people to send you an SMS without you sharing your cellphone number.
				</p>
			</div>
			<div>
				<strong>Why would someone use AwayFind?</strong>
				<p>
					We lose nearly a third of our day to interruptions, primarily due to email.  With the hundreds of email we receive every day, we occasionally miss messages that actually matter right away.  When we're supposedly on vacation, we often find ourselves checking our work email regularly and once again living the office life. AwayFind helps you to focus on what you want to do, so you can be proactive rather than reactive, so you can be responsive but not always available.
				</p>
			</div>
			<div>
				<strong>How does AwayFind work?</strong>
				<p>
					AwayFind continually scans your email inbox for new messages. When a timely email arrives, AwayFind sends you an alert with the first few lines of the message. AwayFind additionally has the ability to send custom auto response messages to different people and at a frequency you specify.
				</p>
			</div>
			<div>
				<strong>Why is AwayFind sometimes referred to as Orchant?</strong>
				<p>
					Orchant is the second (2.0) version of AwayFind, and is night-and-day from the small (1.0) product we previously launched. The name 'Orchant' is in honor of Marc Orchant, a role model and mentor for his keen understanding of applied technologies, his passion for sharing ideas and advice, and for always putting the most important people first, even with so many commitments. Marc passed away in December of 2007, but his memory lives on in so many people, and were proud to pass it on in our own way, and with the kind permission of Sue Orchant.
				</p>
			</div>

			<h4>Security</h4>
			<div>
				<strong>What data does AwayFind store?</strong>
				<p>
					AwayFind only stores the email messages you specifically ask us to route for you (so you can reply to them from our mobile applications or view them from your AwayFind inbox online).  By default, these messages are deleted automatically after a week.  Other messages are not even temporarily stored. AwayFind also tracks the size and volume of email our customers receive, so as to ensure that as we add features we're decreasing the volume and size of the messages our customers  receive over time.
				</p>
			</div>
			<div>
				<strong>Is my email password safe?</strong>
				<p>
					Google Apps and Gmail can sign up with oAuth, so AwayFind never sees their password.  All passwords or tokens that we store are encrypted and stored behind both physical and software security.  We do  our best to keep this and all of your information extremely safe.
				</p>
			</div>
			<div>
				<strong>Does AwayFind affect my existing email inbox (Outlook, Gmail, etc)?  Will anything change for me or my users?</strong>
				<p>
					No.  AwayFind does not impact the ranking or display of your email inbox.  AwayFind can escalate urgent messages outside of your inbox, but it will not affect your inbox itself.  Our browser plugins, Outlook plugin, and Google Apps gadget add additional functionality to your inbox, but are optional and do not change anything in the inbox itself.
				</p>
			</div>
			<div>
				<strong>Do you have a Privacy Policy?</strong>
				<p>
					Yes. Our Privacy Policy is available at <a href="http://awayfind.com/privacy.php">http://awayfind.com/privacy.php</a>
				</p>
			</div>

			<h4>Technology</h4>
			<div>
				<strong>What email providers do you  support?&nbsp;</strong>
				<p>
					We support Microsoft Exchange 2003-2010, Gmail, Google Apps, and most providers that use IMAP.  We *do* support AutoDiscover for Exchange and oAuth for Gmail/Google Apps.  We do not presently support Yahoo or Hotmail.
				</p>
			</div>
			<div>
				<strong>Do I need to install anything?</strong>
				<p>
					AwayFind does not require any installations. However, our mobile applications and software plug-ins make for a richer and more convenient experience. During the AwayFind setup process you can install our Chrome &amp; Firefox plug-ins for Gmail or our iPhone and Android applications. We'll soon have an Outlook application available, as well.
				</p>
			</div>
			<div>
				<strong>What countries and providers do you  support for Voice?</strong>
				<p>
					We don't have a definitive list at  this time, but we believe we support most if not all countries and providers  for voice.&nbsp; <a href="contact_us.php">Please let us know</a> if your phone provider is not supported. (No one has yet, as of April 2011.)
				</p>
			</div>
			<div>
				<strong>If I use AwayFind's Intelligent Auto Responder, is an auto response message sent in response to every email I receive?</strong>
				<p>
					No, an auto response is only sent to  messages as often as your interval is set. &nbsp;The default interval is to  send an auto-reply every 180 days.&nbsp; On your Auto Responders page there's  the ability to change this interval and to prevent some email addresses or  domains from ever receiving an auto response message.
				</p>
			</div>

			<h4>SMS</h4>
			<div>
				<strong>What countries and cell phone providers do you support for SMS?</strong>
				<p>
					We support most cell phone providers in the world.  To test your phone number with AwayFind, please visit <a href="http://www.awayfind.com/support/sms/test.php">this test page</a>.  If we cannot send you an SMS, we can still send you push notifications via our iPhone and Android applications, send IM over most IM networks, DM over Twitter, or even call.
				</p>
			</div>
			<div>
				<strong>Will I be charged for SMS notifications?</strong>
				<p>
					While AwayFind does not charge separately for SMS notifications, standard message and data rates apply. We can also send you push notifications via our iPhone and Android applications, send IM over most IM networks, direct message over Twitter, or even call.
				</p>
			</div>
			<div>
				<strong>How do I cancel SMS notifications?</strong>
				<p>
					You can disable any notification method at your <a href="https://orchant.awayfind.com/admin/setup_accounts.php">Email Accounts and Notification Methods</a> page. Alternatively, you can just reply STOP to an SMS to cancel future SMS alerts.
				</p>
			</div>

			<h4>Other Questions</h4>
			<div>
				<strong>How do I contact support?</strong>
				<p>
					You may contact support at&nbsp; <a href="mailto:support@awayfind.com">support@awayfind.com</a> but we recommend posting a question in our forums (to the  right)&nbsp;first.
				</p>
			</div>
		</div>		
	</div>