<div id="footer_2">
	<div id="footer_2_div">
		<div id="col_left">
			AwayFind users have escaped from <span style="-moz-border-radius: 4px 4px 4px 4px; padding: 4px 6px; background-color: rgba(100, 150, 225, 0.25); color: rgb(218, 221, 227);">109,375,394</span> unimportant emails
		</div>
		<div id="col_right">
			<p>
				Copyright &copy; 2012 AwayFind, Inc. All rights reserved.				
			</p>
			<div id="logos">
				<%= image_tag("index_footer_AF.png", :alt=>"Awayfind",:title=>"Awayfind")%>
			</div>
		</div>
	</div>
</div>